{% extends '::base.html.twig' %}

{% block body %}
    <div id="home" class="row center-align">
        <div class="container">
            <div class="col s12 white-text">
                <h3>En route vers le job de rêve !</h3>
                <p class="flow-text white-text">
                    Organiser. Suivre. Relancer. Classer.
                </p>
            </div>

        </div>

    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}